* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

body {
  height: 100vh;
  background-size: 25px 25px;
  background-image: linear-gradient(
      to right,
      rgb(0, 37, 74) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgb(0, 36, 72) 1px, transparent 1px);
  /* overflow-x: hidden; */
}

/* ------------------------General------------------------- */

/* Navigation */
.nav {
  padding: 2rem 1rem 1.5rem 4rem;
  position: fixed;
  /* background: aquamarine; */
}
.circnav {
  /* background: blueviolet; */
  display: grid;
  padding-left: 4rem;
  grid-template-columns: repeat(4, 2.2rem);
  align-content: end;
}
.circle {
  height: 2rem;
  width: 2rem;
  background: lightskyblue;
  border-radius: 60%;
}

#active {
  background: aliceblue;
}
#circle1 {
}

#circle2 {
}
#circle3 {
}
#circle4 {
}

.container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: minmax(30%, 50%);
  padding: 1rem 4rem 2rem 4rem;
  /* background: forestgreen; */
}
.container-full {
  display: grid;
  grid-template-columns: 50% 50%;
  /* grid-template-rows: minmax(30%, 50%); */
  padding: 1rem 4rem 2rem 4rem;
}
.heading {
  /* background: brown; */
  background: rgba(0, 123, 255, 0.054);
  backdrop-filter: blur(2px);
}
.heading h1 {
  font-size: 4.5rem;
  color: aliceblue;
}

.subheading {
  font-family: monospace;
  font-size: 1.5rem;
  color: aliceblue;
}

/* ------------------------Pages------------------------- */
.home,
.projects,
.about,
.contact {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(
    to top right,
    rgba(0, 98, 255),
    rgba(0, 128, 255),
    rgba(30, 144, 255, 0.8)
  );
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 15% 80% 15%;
  row-gap: 0.5rem;
}

.about,
.contact {
  background-image: linear-gradient(
    to top right,
    rgb(39, 122, 255),
    rgb(122, 188, 255),
    rgba(101, 178, 255, 0.8)
  );
}

/* ------------------------About Page------------------------- */
.aboutcontent {
  display: grid;
  /* background: crimson; */
  grid-template-columns: repeat(3, 30%);
  grid-template-rows: 15% repeat(2, 25%);
  grid-gap: 0.5rem;
  padding: 1rem;
  background: rgba(0, 102, 204, 0.15);
  backdrop-filter: blur(2px);
  border: 2px rgb(149, 200, 255) dashed;
  justify-content: center;
}
.about-content-heading,
.about-content-heading h1 {
  font-size: 2rem;
  font-family: monospace;
  color: rgb(211, 234, 255);
  grid-column-start: 1;
  grid-column-end: 4;
}
.logoimg {
  width: 40%;
  height: auto;
  /* background: blanchedalmond; */
}
.abouts {
  background: rgba(0, 89, 177, 0.15);
  backdrop-filter: blur(2px);
  border: 2px rgb(149, 200, 255) dashed;
  text-align: center;
  padding: 0.5rem;
}
.creative {
  /* background: chartreuse; */
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 4;
}
.on {
  height: 0.8rem;
  width: 0.8rem;
  background: rgb(34, 152, 255);
  display: inline-block;
  border: 1px rgb(0, 117, 233) solid;
  border-radius: 50%;
}
#on-1 {
  animation: turn-on 3s ease-in infinite;
}
#on-2 {
  animation: turn-on 3.5s ease-in infinite;
}
#on-3 {
  animation: turn-on 4s ease-in infinite;
}
#on-4 {
  animation: turn-on 4.5s ease-in infinite;
}
#on-5 {
  animation: turn-on 5s ease-in infinite;
}
.off {
  height: 0.8rem;
  width: 0.8rem;
  background: rgb(185, 222, 255);
  border: 1px rgb(218, 236, 255) solid;
  display: inline-block;
}

/* ------------------------Projects Page------------------------- */
.projectcontent {
  display: grid;
  /* background: crimson; */
  grid-template-columns: repeat(2, 30%);
  grid-template-rows: 15% repeat(4, 30%);
  grid-gap: 0.5rem;
  padding: 1.5rem;
  background: rgba(0, 102, 204, 0.15);
  backdrop-filter: blur(2px);

  border: 2px rgb(149, 200, 255) dashed;
  /* justify-content: center; */
}
.bullets {
  line-height: 0.5rem;
  font-size: 2rem;
}
#showp1,
#showp2,
#showp3,
#showp4,
#showp5 {
  font-weight: bold;
  color: rgb(151, 206, 255);
  background: rgba(0, 89, 177, 0.15);
  backdrop-filter: blur(2px);
  border: 2px rgb(149, 200, 255) dashed;
  padding: 0.5rem;
}
.hiddenp {
  color: rgb(151, 206, 255);
  background: rgba(0, 89, 177, 0.15);
  backdrop-filter: blur(2px);
  border: 2px rgb(149, 200, 255) dashed;
  padding: 0.5rem;
  color: aliceblue;
  padding: 1rem;
}
#hiddenp1,
#hiddenp2,
#hiddenp3,
#hiddenp4,
#hiddenp5 {
  display: none;
}

.projectimg {
  width: 80%;
  height: auto;
}

/* ------------------------Contact Page Page------------------------- */
.contactcontent {
  display: grid;
  /* background: crimson; */
  grid-template-columns: repeat(5, 5%);
  grid-template-rows: 25%;
  grid-gap: 1rem;
}

.contacts {
  /* background: cornflowerblue; */
  /* text-align: center; */
}
.contactlogo {
  width: 100%;
  height: auto;
  /* background: blanchedalmond; */
}
/* ------------------------Creative Page Page------------------------- */
.creativecontainer {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 20% 80%;
  background: forestgreen;
  padding: 1rem;
}
.creativeheading {
  background: cornflowerblue;
}
.creativecontent {
  background: chartreuse;
  padding: 1rem;
}
.creativeimg {
  height: 30%;
  width: auto;
}
/* ------------------------Media Queries------------------------- */

@media screen and (max-width: 560px), screen and (max-height: 560px) {
  .nav {
    padding: 0.5rem 1rem 1.5rem 2.5rem;
  }

  .circnav {
    padding-left: 2.5rem;
  }
  .container {
    grid-template-rows: 20% 20%;
    grid-template-rows: 20% 80%;
    padding: 1rem 2rem 2rem 2.5rem;
  }
  .heading h1 {
    font-size: 2.3rem;
  }
  .subheading {
    font-size: 1rem;
  }
  /* About Page */
  .aboutcontent {
    grid-template-columns: repeat(2, 50%);
  }
  .projectcontent {
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(3, 30%);
    grid-gap: 1rem;
    padding: 1rem;
    justify-content: center;
  }
}

/* Animations */
@keyframes turn-on {
  30% {
    transform: scale(50%);
  }
  50% {
    transform: scale(70%);
  }
  100% {
    transform: scale(100%);
  }
}
