* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

body {
  height: 100vh;
  background-size: 25px 25px;
  background-image: linear-gradient(
      to right,
      rgb(0, 37, 74) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgb(0, 36, 72) 1px, transparent 1px);
  /* overflow-x: hidden; */
}

/* ------------------------General------------------------- */

/* Navigation */
.nav {
  padding: 1rem 1rem 0 3.5rem;
  position: fixed;
  /* background: aquamarine; */
}
.homelogoimg {
  height: 2rem;
  /* background: chartreuse; */
}
.circnav {
  /* background: blueviolet; */
  display: grid;
  padding-left: 4rem;
  grid-template-columns: repeat(4, 2.2rem);
  align-content: end;
}
.circle {
  height: 2rem;
  width: 2rem;
  background: rgb(182, 215, 255);
  border-radius: 60%;
}

#active {
  background: aliceblue;
}

.general-container {
  display: grid;
  grid-template-columns: 40% 60%;
  padding: 1rem 4rem 2rem 4rem;
}
.heading {
  background: rgba(0, 123, 255, 0.054);
  backdrop-filter: blur(2px);
}
.heading h1 {
  font-size: 4.5rem;
  color: aliceblue;
}

.subheading {
  font-family: monospace;
  font-size: 1.5rem;
  color: aliceblue;
}

/* ------------------------Pages------------------------- */
.home,
.projects,
.about,
.contact {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(
    to top right,
    rgba(0, 98, 255),
    rgba(0, 128, 255),
    rgba(30, 144, 255, 0.8)
  );
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 15% 80% 15%;
  row-gap: 0.5rem;
}

.about,
.contact {
  background-image: linear-gradient(
    to top right,
    rgb(39, 122, 255),
    rgb(122, 188, 255),
    rgba(101, 178, 255, 0.8)
  );
}

/* ------------------------About Page------------------------- */
.aboutcontent {
  display: grid;
  grid-template-columns: repeat(3, 30%);
  grid-template-rows: 15% repeat(2, 30%);
  grid-gap: 0.5rem;
  padding: 1rem;
  background: rgba(0, 102, 204, 0.15);
  backdrop-filter: blur(2px);
  border: 2px rgb(149, 200, 255) dashed;
  /* background: crimson; */
  justify-content: center;
}
.about-content-heading,
.about-content-heading h1 {
  font-size: 2rem;
  font-family: monospace;
  color: rgb(226, 241, 255);
  grid-column-start: 1;
  grid-column-end: 4;
}

.logoimg {
  width: 45%;
  height: auto;
  /* background: blanchedalmond; */
}
.abouts {
  background: rgba(0, 89, 177, 0.15);
  backdrop-filter: blur(2px);
  border: 2px rgb(188, 221, 255) dashed;
  text-align: center;
  padding: 0.5rem;
}
.creative,
.creative a {
  /* background: chartreuse; */
  color: aliceblue;
  text-decoration: none;
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 4;
}
.on {
  height: 0.8rem;
  width: 0.8rem;
  background: rgb(22, 100, 167);
  display: inline-block;
  /* border: 1px rgb(0, 117, 233) solid; */
  border-radius: 50%;
}
#on-1 {
  animation: turn-on 3s ease-in infinite;
}
#on-2 {
  animation: turn-on 3.5s ease-in infinite;
}
#on-3 {
  animation: turn-on 4s ease-in infinite;
}
#on-4 {
  animation: turn-on 4.5s ease-in infinite;
}
#on-5 {
  animation: turn-on 5s ease-in infinite;
}
.off {
  height: 0.8rem;
  width: 0.8rem;
  background: rgb(185, 222, 255);
  border: 1px rgb(218, 236, 255) solid;
  display: inline-block;
}
.creativebutton {
  width: 0;
  height: 0;
  margin: 1rem;
  border-top: 1rem solid transparent;
  border-left: 2rem solid rgb(3, 74, 145);
  border-bottom: 1rem solid transparent;
  display: inline-block;
}

/* ------------------------Projects Page------------------------- */
.projectcontent {
  display: grid;
  grid-template-columns: repeat(2, 30%);
  grid-template-rows: 15% repeat(4, 30%);
  grid-gap: 0.5rem;
  padding: 1.5rem;
  background: rgba(0, 70, 140, 0.15);
  backdrop-filter: blur(2px);

  border: 2px rgb(149, 200, 255) dashed;
  /* background: crimson; */
  /* justify-content: center; */
}
.bullets {
  line-height: 0.5rem;
  font-size: 2rem;
}
#showp1,
#showp2,
#showp3,
#showp4,
#showp5 {
  font-weight: bold;
  color: rgb(151, 206, 255);
  background: rgba(0, 49, 98, 0.15);
  backdrop-filter: blur(2px);
  border: 2px rgba(105, 177, 255, 0.972) dashed;
  padding: 0.5rem;
}
#showp1:hover,
#showp2:hover,
#showp3:hover,
#showp4:hover,
#showp5:hover {
  background: rgba(27, 141, 255, 0.646);
}
.hiddenp {
  color: rgb(151, 206, 255);
  background: rgba(0, 89, 177, 0.15);
  backdrop-filter: blur(2px);
  border: 2px rgb(149, 200, 255) dashed;
  padding: 0.5rem;
  /* background: crimson; */
  color: aliceblue;
  padding: 1rem;
}
#hiddenp1,
#hiddenp2,
#hiddenp3,
#hiddenp4,
#hiddenp5 {
  display: none;
}

.projectimg {
  width: 70%;
  height: auto;
}

/* ------------------------Contact Page------------------------- */
.contact-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: minmax(30%, 50%);
  padding: 1rem 4rem 2rem 4rem;
  /* background: forestgreen; */
}
.contactcontent {
  display: grid;
  /* background: crimson; */
  grid-template-columns: repeat(5, 5%);
  grid-template-rows: 25%;
  grid-gap: 1rem;
}

.contacts {
  /* background: cornflowerblue; */
  /* text-align: center; */
}
.contactlogo {
  width: 100%;
  height: auto;
  /* background: blanchedalmond; */
}
/* ------------------------Creative Page Page------------------------- */
.creativehome {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(
    to top right,
    rgb(39, 122, 255),
    rgb(122, 188, 255),
    rgba(101, 178, 255, 0.8)
  );
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 15% 85%;
}

/* ------------------------Media Queries------------------------- */

@media screen and (max-width: 560px), screen and (max-height: 560px) {
  .nav {
    padding-left: 2rem;
  }
  .circnav {
    padding: 0.5rem 2rem 0rem 2rem;
  }
  .general-container {
    grid-template-columns: 100%;
    grid-template-rows: 30% 70%;
    padding: 1rem 2rem 2rem 2rem;
    /* background: crimson; */
  }

  .heading {
    /* background: coral; */
  }
  .heading h1 {
    font-size: 2rem;
    /* background: chartreuse; */
  }
  .subheading {
    font-size: 1rem;
  }
  /* About Page */
  .aboutcontent {
    grid-template-rows: 15% repeat(2, 20%);
  }
  .about-content-heading h1 {
    font-size: 1.5rem;
  }
  .logoimg {
    width: 35%;
  }
  .on,
  .off {
    height: 0.4rem;
    width: 0.4rem;
  }
  /* Projects Page */
  .projectcontent {
    grid-template-columns: repeat(3, 31%);
    grid-template-rows: 15% repeat(3, 30%);
  }
  #showp1,
  #showp2,
  #showp3,
  #showp4,
  #showp5 {
    font-size: 0.6rem;
  }
  /* Contact Page */
  .contact-container {
    grid-template-rows: minmax(10%, 30%);
    padding: 1rem 2rem 2rem 2rem;
  }
  .contactlogo {
    width: 200%;
  }
}

@media screen and (min-width: 560px) {
  .general-container {
    grid-template-columns: 100%;
    grid-template-rows: 40% 60%;
  }
  .heading h1 {
    font-size: 3rem;
  }
  .subheading {
    font-size: 1.5rem;
  }
  /* About Page */
  .aboutcontent {
    grid-template-rows: 15% repeat(2, 40%);
  }
  .about-content-heading h1 {
    font-size: 1.5rem;
  }
  .logoimg {
    width: 35%;
  }
  .on,
  .off {
    height: 0.4rem;
    width: 0.4rem;
  }
  /* Projects Page */
  .projectcontent {
    grid-template-columns: repeat(3, 31%);
    grid-template-rows: 15% repeat(3, 30%);
  }
  #showp1,
  #showp2,
  #showp3,
  #showp4,
  #showp5 {
    font-size: 0.6rem;
  }
  /* Contact Page */
  .contact-container {
    grid-template-rows: minmax(30%, 35%);
    padding: 1rem 4rem 2rem 4rem;
  }
  .contactlogo {
    width: 150%;
  }
}

@media screen and (min-width: 760px) {
  .general-container {
    grid-template-columns: 40% 60%;
    grid-template-rows: 100%;
    padding: 1rem 4rem 2rem 4rem;
  }
  .heading h1 {
    font-size: 4.5rem;
  }
  .subheading {
    font-size: 1.5rem;
  }
  /* About Page */
  .aboutcontent {
    grid-template-rows: 15% repeat(2, 30%);
  }
  .about-content-heading h1 {
    font-size: 2rem;
  }
  .logoimg {
    width: 45%;
  }
  .on,
  .off {
    height: 0.8rem;
    width: 0.8rem;
  }
  /* Projects Page */
  .projectcontent {
    grid-template-columns: repeat(2, 30%);
    grid-template-rows: 15% repeat(4, 30%);
  }
  #showp1,
  #showp2,
  #showp3,
  #showp4,
  #showp5 {
    font-size: 1rem;
    font-weight: bold;
  }
  /* Contact Page */
  .contact-container {
    grid-template-rows: minmax(30%, 50%);
    padding: 1rem 4rem 2rem 4rem;
  }
  .contactlogo {
    width: 100%;
  }
}
/* Animations */
@keyframes turn-on {
  30% {
    transform: scale(50%);
  }
  50% {
    transform: scale(70%);
  }
  100% {
    transform: scale(100%);
  }
}
